<!-- form for login via third-party providers or manually -->
<%= content_tag(:div, class: "wrapper fadeInDown") do %>
  <%= content_tag(:div, class: "formContent") do %>
    <%= content_tag(:div, class: "fadeIn first") do %>
 
    <%= content_tag(:div, class: "container") do %>

    <%= form_tag("/login") do%>
        
        <%= content_tag(:div, class: "row") do %>
          <%= content_tag(:h2, style: "text-align:center; font-weight: bold; color:green;", class:"w3-opacity") do %>
            GreenChallenge
          <%end%>
          <%= content_tag(:h4, style: "text-align:center", class:"w3-opacity") do %>
            Make your days a little bit <span style="color:green">greener</span> 
          <%end%>
        <%= content_tag(:div, class: "vl") do %>
          <%= content_tag(:span, class: "vl-innertext") do %>or<%end%>
        <%end%>

        <%= content_tag(:div, class: "col") do %>
            <%= link_to "/auth/facebook", class: "fb btn" do %>
             <i class="fa fa-facebook-official"></i> Continue with Facebook 
            <%end%>
            <%= link_to "/auth/twitter", class: "twitter btn" do%>
              <i class="fa fa-twitter"></i> Continue with Twitter
            <%end%>
            <%= link_to "/auth/google_oauth2", class: "google btn" do%>
              <i class="fa fa-google"></i> Continue with Google
            <%end%>
        <%end%>

        <%= content_tag(:div, class: "col") do %>
              <%=label_tag "user[name]" do%>
              <%= text_field_tag("user[name]", nil, placeholder: "Name", required: true)%>
              <%end%>
              <%=label_tag "user[password]" do%>
              <%= password_field_tag("user[password]", nil, placeholder: "Password", required: true)%>
              <%end%>
              <%= submit_tag("Login")%>
        <%end%>
      <%end%>
    <%end%>
    <%end%>

    <%= content_tag(:div, class: "bottom-container") do %>
      <%= content_tag(:div, class: "row w3-opacity") do %>
        <%= link_to "Sign up", "/signup", style: "color:green; font-weight:bold;", class: "btn" %>
      <%end%>
    <%end%>

   <%end%>
  <%end%>
<%end%>

