
    
    <%= content_tag(:div, class: "container") do %>

    <%= form_tag("/login") do%>
        
        <%= content_tag(:div, class: "row") do %>
          <%= content_tag(:h2, style: "text-align:center") do %>
            Welcome to GreenChallenge!
          <%end%>
          <%= content_tag(:h4, style: "text-align:center") do %>
            Login with Social Media or Manually
          <%end%>
        <%= content_tag(:div, class: "vl") do %>
          <%= content_tag(:span, class: "vl-innertext") do %>or<%end%>
        <%end%>

        <%= content_tag(:div, class: "col") do %>
            <%= link_to "Login with Facebook", "/auth/facebook", action: "create", class: "fb btn"%>
            <%= link_to "Login with Twitter", "/auth/twitter", class: "twitter btn"%>
            <%= link_to "Login with Google", "/auth/google_oauth2", class: "google btn"%>
        <%end%>

        <%= content_tag(:div, class: "col") do %>
        <%end%>
        <div class="col">
            <label><input type="text" name="user[name]" placeholder="Name" required></label>
            <label><input type="password" name="user[password]" placeholder="Password" required></label>
            <input type="submit" value="Login">
        </div>

        <%end%>
    <%end%>
    <%end%>
    <div class="bottom-container">
    <div class="row">
        <div class="col">
        <a href="/signup" style="color:white" class="btn">Sign up</a>
        </div>
        <div class="col">
        <a href="#" style="color:white" class="btn">Forgot password?</a>
        </div>
    </div>
    </div>


