<div class="w3-row-padding">
  <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding sort-challenge">
          <a href="/<%=instance.class.name.downcase%>s/sort/<%="creation"%>" class="link-to el-item"><span class="w3-opacity" >Most recent</span></a>
          <a href="/<%=instance.class.name.downcase%>s/sort/<%="users"%>" class="link-to el-item"><span class="w3-opacity" >Most popular</span></a>
          <a href="/<%=instance.class.name.downcase%>s/sort/<%="alphabet"%>" class="link-to el-item"><span class="w3-opacity" >Alphabetical</span></a>
          <a href="/<%=instance.class.name.downcase%>s/sort/<%="me"%>" class="link-to el-item"><span class="w3-opacity" >My <%=instance.class.name%>s</span></a>
      </div>
      </div>
  </div>
</div>