<!-- displays form for editing group and link for deleting group -->
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="<%="/images/group1.png"%>" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity"><%=time_ago_in_words @group.created_at%></span>
    <a href="/groups/<%=@group.id%>" class="link-to"><h4><%=@group.name%></h4></a><br>
    <hr class="w3-clear">
    <div class="w3-container w3-padding">
        <%= form_for(@group) do |f|%>
            <%= f.text_field(:name, class: "w3-border w3-padding text-field-post w3-opacity", required: true)%>
            <%= f.text_area(:description, class:"textarea-challenge w3-opacity", required: true)%>
            <button class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-edit" ></i> Edit group</button>
            <hr class="w3-clear">
        <%end%>
        <%= form_for(@group, method: :delete) do %>
            <button onclick="return confirm('Are you sure you want to delete the group?');" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-close" ></i> Delete group</button>
        <%end%>
    </div>
</div>