<!-- rendering form for creating new group -->
<%= render partial: "groups/new_form", locals: {instance: @group, field1: :name, field2: :description, headline: "Create a group here. Groups should be organized around a cross-cutting issue or a geographical location."} %>

<!-- rendering links for sorting groups based on different conditions -->
<div class="w3-row-padding">
  <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding sort-challenge">
          <a href="/groups/sort/<%="creation"%>" class="link-to el-item"><span class="w3-opacity" >Most recent</span></a>
          <a href="/groups/sort/<%="users"%>" class="link-to el-item"><span class="w3-opacity" >Most popular</span></a>
          <a href="/groups/sort/<%="alphabet"%>" class="link-to el-item"><span class="w3-opacity" >Alphabetical</span></a>
          <a href="/groups/sort/<%="me"%>" class="link-to el-item"><span class="w3-opacity" >My groups</span></a>
      </div>
      </div>
  </div>
</div>

<!-- displaying all groups and adding routes for editing based on membership typpe -->
<%@groups.each do |group|%>
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
      <img src="/images/group1.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <span class="w3-right w3-opacity"><%=time_ago_in_words group.created_at%></span>
      <h4><a href="/groups/<%=group.id%>" class="link-to"><%=group.name%></h4><a><br>
      <span class="w3-opacity"><%="#{group.users.size} users"%></span>
      <hr class="w3-clear">
      <p><%=group.description%></p>

      
      <button type="button"onclick="location.href='/groups/<%=group.id%>'" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Show group</button> 
      <%if current_user.memberships.created.find {|m| m.group == group}%>
        <button type="button"onclick="location.href='/groups/<%=group.id%>/edit'" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-pencil"></i> Edit group</button> 
      <%end%>
    </div>
  <%end%>
