

<!--rendering form for selecting daily and occasional challenges -->
<%if @user.lists.last && @user.lists.last.updated_at.strftime("%Y-%m-%d") === Date.today.strftime("%Y-%m-%d")%>
    <%= content_tag(:div, class: "w3-container w3-card w3-white w3-round w3-margin") do%>
        <strong style="padding:5px; color:green;"><i class="fa fa-check"></i><p style="display:inline;"> You already submitted a to-do list for today!</p></strong><br>
    <%end%>
<%else%>
    <%= content_tag(:div, class: "w3-container w3-card w3-white w3-round w3-margin") do%>
        <br>
        <img src="/images/checklist.png" alt="Avatar" class="w3-left w3-margin-right" style="width:60px">
        <h4>Your challenges for <%=Date.today.strftime("%Y-%m-%d")%></h4><br>
        <hr class="w3-clear">
        
        <%= form_tag("/users/#{@user.id}/complete_list", method: :post) do%>
        <strong><label style="margin-bottom:-2em;">Daily challenges</label></strong><br>
        <%@commitments.select {|commitment| commitment.regularity == "daily"}.each do |c|%>
            <%=label_tag 'list[]', link_to(c.challenge.title, "/challenges/#{c.challenge.id}", class:"link-to", style:"position:relative; top:23px;")%>
            <%=check_box_tag 'list[]', "#{c.challenge.title}", false, class:"list-checkbox"%>
        <%end%><br><br>

        <div class="form-group col-md-6 col-lg-6 col-sm-6">
        <strong><label>Occasional challenges</label></strong>
                <% @commitments.select {|commitment| commitment.regularity == "occasional"}.each do |c| %>
                    <div>
                        <%=label_tag 'list[]', link_to(c.challenge.title, "/challenges/#{c.challenge.id}", class:"link-to", style:"position:relative; top:23px;")%>
                        <%=check_box_tag 'list[]', "#{c.challenge.title}", false, class:"list-checkbox"%>
                    </div>
                <% end %>
        </div>
        <br>
        <%=submit_tag "Submit list"%><br>
        <%end%>
    <%end%>
<%end%>

<!--rendering previous to-do lists -->
<%if !@user.lists.empty?%>
    <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <%@user.lists.recent.each do |list|%>
            <img src="/images/checked.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:40px"><br>
            <h4><%=list.title%></h4><br>
            <%list.completed_challenges.each do |ch|%>
                <span style="color:green;"><%=ch%></span><br>
            <%end%>
            <br>
            <p class="w3-opacity">You collected <%=list.completed_challenges.size%> points this day!</p>
            <br>
            <%if list.title == Date.today.strftime("%Y-%m-%d")%>
                <a href="/users/<%=@user.id%>/undo_list" class="link-to"><span class="w3-opacity" >Undo list</span></a><br>
                <hr class="w3-clear">
            <%end%>
        <%end%>
    <hr class="w3-clear">
    <a href="/users/<%=@user.id%>/clear_lists" class="link-to"><span class="w3-opacity" >Clear lists</span></a>
    </div>
<%end%>