<!-- renders total user data values -->
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="/images/report.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity"><%=Date.today%></span>
    <h4>Performance report</h4><br>
    <hr class="w3-clear">
    <table>
    <thead>
        <tr>
        <th>Total commitments</th>
        <th>Daily challenges</th>
        <th>Occasional challenges</th>
        <th>Posts</th>
        <th>Likes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><%=current_user.commitments.size%></td>
        <td><%=num_of_challenges("daily")%></td>
        <td><%=num_of_challenges("occasional")%></td>
        <td><%=current_user.posts.size%></td>
        <td><%=num_of_likes%></td>
        </tr>
    </tbody>
    </table>
        <table>
    <thead>
        <tr>
        <th>Group memberships</th>
        <th>Average point</th>
        <th>Average point goal</th>
        <th>Total points</th>
        <th>Performance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td><%=current_user.groups.size%>
        <td><%=avg_point%></td>
        <td><%=current_user.goal%></td>
        <td><%=current_user.points%></td>
        <td><span style="color:<%if performance.start_with?("-")%> red <%else%> green<%end%>"><%=performance%></span></td>
        </tr>
    </tbody>
    </table>
</div>
