<!--Creates post form-->
<div class="w3-row-padding">
    <div class="w3-col m12">
      <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">

          <h6 class="w3-opacity">Share A Post:</h6>
          <%= form_tag("/users/#{current_user.id}/posts", :method => :post) do%>
          <%= text_field_tag("post[title]", nil, placeholder: "Provide a title...", class: "w3-border w3-padding text-field-post w3-opacity", required: true)%>
          <%= text_area_tag("post[content]", nil, placeholder: "Write your post...", class:"textarea-challenge w3-opacity", required: true)%>
          <%= text_field_tag("post[group]", nil, placeholder: "Add your post to a group...", list: "groups", class: "w3-border w3-padding w3-opacity")%><br>
          <datalist id="groups">
            <%@user.groups.all.each do |g|%>
              <option value="<%=g.name%>"><%=g.name%></option>
            <%end%>
          </datalist>

          <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i>  Post</button> 
          <%end%>
        </div>
      </div>
    </div>
</div>

<!--Renders newsfeed from posts of user's groups-->
<%newsfeed(@user).each do |post|%>
  <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="<%=post.user.avatar%>" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity"><%=time_ago_in_words post.created_at%></span>
    <h4><%=post.user.name%></h4><br>
    <hr class="w3-clear">
    
    <span class="w3-opacity"><a href="/groups/<%=post.group.id%>" class="link-to"><%=post.group.name%></a></span>
    <p><strong><%=post.title%></strong></p>
    <p><%=post.content%></p>
      <div class="w3-row-padding" style="margin:0 -16px">
        <div class="w3-half">
        </div>
        <div class="w3-half">
      </div>
    </div>

    <%if !current_user.posts.include?(post)%>
      <button type="button" onclick="location.href='/users/<%=post.user.id%>/posts/<%=post.id%>'" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-arrow-right"></i> Show thread</button>
    <%else%>
      <button type="button"onclick="location.href='/users/<%=post.user.id%>/posts/<%=post.id%>/edit'" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-pencil"></i> Edit post</button> 
    <%end%>
    <span class="w3-right w3-opacity"><%=post.likes.to_s + " likes"%></span> 
    <span class="w3-right w3-opacity" style="margin-right:5px;"><a href="/users/<%=post.user.id%>/posts/<%=post.id%>" class="link-to"><%=post.comments.size.to_s + " comments"%></a></span>
  </div>
<%end%>

      
      
    
    
    