
<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
    <img src="<%="/images/challenge1.png"%>" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
    <span class="w3-right w3-opacity"><%=time_ago_in_words @challenge.created_at%></span>
    <h4><%=@challenge.title%></h4><br>
    <hr class="w3-clear">
    <div class="w3-container w3-padding">
            <%= form_tag("/challenges/#{@challenge.id}", method: :patch) do %>
            <%= text_field_tag("challenge[title]", @challenge.title, class: "w3-border w3-padding text-field-post w3-opacity", required: true)%>
            <%= text_area_tag("challenge[description]", @challenge.description, class:"textarea-challenge w3-opacity", required: true)%>
            <%= button_to 'Edit challenge', challenge_path(@challenge), method: :patch, class:"w3-button w3-theme-d1 w3-margin-bottom" %>
            <%= button_to 'Delete challenge', "/challenges/#{@challenge.id}", method: :delete, class:"w3-button w3-theme-d1 w3-margin-bottom" %>
            <%end%>
        </div>
</div>