<div class="w3-row-padding">
    <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
        <div class="w3-container w3-padding">
            <h6 class="w3-opacity">Have an idea? Create a new challenge here:</h6>
            <%= form_tag("/challenges") do%>
            <%= text_field_tag("challenge[title]", nil, placeholder: "Provide a title...", class: "w3-border w3-padding text-field-post w3-opacity", required: true)%>
            <%= text_area_tag("challenge[description]", nil, placeholder: "Provide a description...", class:"textarea-challenge w3-opacity", required: true)%>
            <button type="submit" class="w3-button w3-theme"><i class="fa fa-pencil"></i> Create challenge</button> 
            <%end%>
        </div>
        </div>
    </div>
</div>

    <%@challenges.each do |challenge|%>
      <%if current_user.name == challenge.creator%>
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/images/challenge1.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <h4><a href="/challenge/<%=challenge.id%>" class="link-to"><%=challenge.title%></h4><a><br>
        <span class="w3-opacity"><%="#{challenge.groups.size} groups"%></span>
        <span class="w3-opacity" style="margin-right:5px;"><%="#{challenge.users.size} users"%></span>
        <hr class="w3-clear"> 
        <%= button_to 'Edit challenge', challenge_path(challenge), method: :patch, class:"w3-button w3-theme-d1 w3-margin-bottom" %>
        <%= button_to 'Delete challenge', "/challenges/#{challenge.id}", method: :delete, class:"w3-button w3-theme-d1 w3-margin-bottom" %>
      </div>
      <%else%>
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/images/challenge1.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <h4><a href="/challenge/<%=challenge.id%>" class="link-to"><%=challenge.title%></h4><a><br>
        <span class="w3-opacity"><%="#{challenge.groups.size} groups"%></span>
        <span class="w3-opacity" style="margin-right:5px;"><%="#{challenge.users.size} users"%></span>
        <hr class="w3-clear"> 
        <button type="button"onclick="location.href='/challenge/<%=challenge.id%>'" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i> Commit to challenge</button> 
      </div>
      <%end%>
      <%end%>