<!DOCTYPE html>
<html>
<head>
<title>Green Challenge</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a href="/users/<%=current_user.id%>" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i> GreenChallenge</a>
  <div class="w3-dropdown-hover w3-hide-small w3-right">
    <button class="w3-button w3-padding-large" title="Notifications"><a href="/users/<%=current_user.id%>/edit" title="Edit Profile"><i class="fa fa-user"></i></a>
    </button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block listRight" style="width:300px">
      <a href="/users/<%=current_user.id%>/edit" class="w3-bar-item w3-button">Edit profile</a>
      <a href="/logout" class="w3-bar-item w3-button" onclick="return confirm('Are you sure you want to log out?');">Log out</a>
    </div>
  </div>
 </div>
</div>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center"><%=current_user.name%></h4>
         <p class="w3-center"><img src="<%=current_user.avatar%>" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.email %></p>
         <%if !current_user.country.empty?%><p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> <%=current_user.country %></p><%end%>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="location.href='/challenges'" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right" ></i> Challenges</button>
          <button onclick="location.href='/groups'" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Groups</button>
          <button onclick="location.href='/users/<%=current_user.id%>/lists'" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> To-do lists</button>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>My Groups</p>
          <p>
            <%current_user.groups.each do |group|%>
            <% colors = ["d1", "d2", "d3", "d4", "d5", "l1", "l2","l3", "l4", "l5"] %>
            <% color = colors[rand 0..(colors.size)]%>
              <span class="w3-tag w3-small w3-theme-<%=color%>"><a href="/groups/<%=group.id%>" class="link-to"><%=group.name%></a></span>
            <%end%>
          </p>
        </div>
      </div>
     
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    <% flash.each do |type, msg| %>
      <div>
        <span class="w3-opacity"><%= msg %></span>
      </div>
    <% end %>
    
      <%= yield%>
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p><strong>Total points:</strong></p>
            <%=current_user.points%>
          <p><strong>Total posts:</strong></p>
            <%=current_user.posts.size%>
          <p><strong>Total commitments:</strong></p>
            <%=current_user.commitments.size%>
          <p><button onclick="location.href='/users/<%=current_user.id%>/report'" class="w3-button w3-block w3-theme-l4">Generate Report</button></p>
        </div>
      </div>
      <br>
      

      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->

<footer class="w3-container w3-theme-d5">
  <p>Github: <a href="https://github.com/dpataki92/GreenChallenge" target="_blank">GreenChallenge</a></p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html> 